<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="40"
        tools:replace="android:maxSdkVersion" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <package android:name="com.goodwy.dialer" />
        <package android:name="com.goodwy.contacts" />
        <package android:name="com.goodwy.smsmessenger" />
        <package android:name="com.goodwy.gallery" />
    </queries>

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:name="com.goodwy.gallery.App"
        android:allowBackup="true"
        android:appCategory="image"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MediaActivity" android:exported="false" />
        <activity android:name=".activities.SearchActivity" android:exported="false" />
        
        <activity
            android:name=".activities.ViewPagerActivity"
            android:exported="true"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity" android:exported="true" />
        <activity android:name=".activities.PhotoVideoActivity" android:exported="false" android:theme="@style/TranslucentTheme" />
        <activity android:name=".activities.VideoPlayerActivity" android:exported="false" android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".activities.PhotoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.VideoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".helpers.MyWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".jobs.NewPhotoFetcher" android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
            
